<header>
  <h1>Fertigkeitsabzeichen: Melder</h1>
</header>

@for (frage of fragen(); track $index) {
  <div class="frage">
    @if (color) {
      <p [ngClass]='{"richtig":style[$index], "falsch":!style[$index]}'>{{ $index + 1 }}. {{ frage }}</p>
    } @else {
      <p>{{$index + 1 }}. {{ frage }}</p>
    }
    <ul>
      @if(!bild().includes($index)){
        @for (antwort of antworten()[$index]; track $index) {
          <li>{{antwort}}</li>
        }
      } @else{
        <img [src]="links()[$index]" alt="Frage als Bild" >
        <br>
      }

      <select [(ngModel)]="antwort[$index]">
        <option>A</option>
        <option>B</option>
        <option>C</option>
      </select>

      @if(color && !style[$index]){
        <a> Richtig ist: {{richtig()[$index]}}</a>
      }
    </ul>
  </div>
}

<button (click)="fertig()">Abgeben</button>

<br>
<br>

<a>Ergebnis: {{ endErg() }}/15 -> ({{ 15 - endErg() }} Fehler) </a>
<br>
@if (endErg() < 9 && endErg() != 0) {
  <a>(Durchgefallen😭)</a>
} @else if (endErg() >= 9) {
  <a>(Bestanden👍)</a>
}
<br>
<br>

<button (click)="reset()">Neu Beginnen</button>

<br>
