<header>
  <h1>Fertigkeitsabzeichen: Melder</h1>
</header>

@for (frage of fragen(); track i; let i = $index) {
  <div class="frage">
    @if (color) {
      <p [ngClass]='{"richtig":style[i], "falsch":!style[i]}'>{{ i + 1 }}. {{ frage }}</p>
    } @else {
      <p>{{i + 1 }}. {{ frage }}</p>
    }
    <ul>
      @if(!bild().includes(i)){
        @for (awort of antworten()[i]; track j; let j = $index) {
          <li><input type="radio" [name]="'frage' + i" [value]="buchstaben[j]" [(ngModel)]="antwort[i]" [ngModelOptions]="{standalone: true}"> {{awort}}</li>
        }
      } @else{
        <img [src]="links()[$index]" alt="Frage als Bild" >
        <br>
        <select [(ngModel)]="antwort[$index]">
          <option>A</option>
          <option>B</option>
          <option>C</option>
        </select>
      }

      @if(color && !style[$index]){
        <a> Richtig ist: {{richtig()[$index]}}</a>
      }
    </ul>
  </div>
}

<button (click)="fertig()">Abgeben</button>

<br>
<br>

<a>Ergebnis: {{ endErg() }}/15 -> ({{ 15 - endErg() }} Fehler) </a>
<br>
@if (endErg() < 9 && endErg() != 0) {
  <a>(Durchgefallen😭)</a>
} @else if (endErg() >= 9) {
  <a>(Bestanden👍)</a>
}
<br>
<br>

<button (click)="reset()">Neu Beginnen</button>

<br>
