<header>
  <h1>Wissenstest: Silber</h1>
</header>

@for (frage of fragen(); track i; let i = $index) {
  <div class="frage">
    @if (color) {
      <p [ngClass]='{"richtig":style[i], "falsch":!style[i]}'>{{ i + 1 }}. {{ frage }}</p>
    } @else {
      <p>{{ i + 1 }}. {{ frage }}</p>
    }

    <div id="bild">
      <ul>
        @for (awort of antworten()[$index]; track j; let j = $index) {
          <li><input type="radio" [name]="'frage' + i" [value]="buchstaben[j]" [(ngModel)]="antwort[i]" [ngModelOptions]="{standalone: true}"> {{awort}}</li>
        }
      </ul>
      @if ($index == 29) {
        <img src="piktogramm.jpg" alt="Piktogramm" height="100">
      }
    </div>

    @if (color && !style[$index]) {
      <a> Richtig ist: {{ richtig()[$index] }}</a>
    }
  </div>
}

<button (click)="fertig()">Abgeben</button>

<br>
<br>

<a>Ergebnis: {{ endErg() }}/30 -> ({{ 30 - endErg() }} Fehler) </a>
<br>
@if (endErg() < 22 && endErg() != 0) {
  <a>(Durchgefallen😭)</a>
} @else if (endErg() >= 22) {
  <a>(Bestanden👍)</a>
}
<br>
<br>

<button (click)="reset()">Neu Beginnen</button>

<br>
