<header>
  <h1>1.Erprobung: </h1>
</header>

@for (frage of fragen(); track i;let i = $index) {
  <div class="frage">
    @if (color) {
      <p [ngClass]='{"richtig":style[i], "falsch":!style[i]}'>{{ i + 1 }}. {{ frage }}</p>
    } @else {
      <p>{{i + 1 }}. {{ frage }}</p>
    }
    <ul>
      @for (awort of antworten()[i]; track j; let j = $index) {
        <li><input type="radio" [name]="'frage' + i" [value]="buchstaben[j]" [(ngModel)]="antwort[i]" [ngModelOptions]="{standalone: true}"> {{awort}}</li>
      }

      @if(color && !style[$index]){
        <a> Richtig ist: {{richtig()[$index]}}</a>
      }
    </ul>
  </div>
}

<div class="frage">
  @if(color){
    <p [ngClass]='{"richtig":style2[0], "falsch":!style2[0]}'>7. Welche Geräte zum Absichern einer Unfallstelle gibt es in deiner Feuerwehr(Nenne 3, mit Beistrichen trennen)?</p>
  } @else {
    <p>7. Welche Geräte zum Absichern einer Unfallstelle gibt es in deiner Feuerwehr(Nenne 3, mit Beistrichen trennen)?</p>
  }
  <input type="text" [(ngModel)]="textAnt">
  @if(color && !style2[0]){
    <a> Richtig wäre: Blaulicht, Martinshorn, Faltsignal, Verkehrsleitkegel, Absperrband, Verkehrsleiteinrichtung, Winkerkelle</a>
  }
</div>
<div class="frage">
  @if(color){
    <p [ngClass]='{"richtig":style2[1], "falsch":!style2[1]}'>8. Welche Arten von Strahlrohren gibt es in deiner Feuerwehr (3, Mit Beistrichen getrennt)?</p>
  } @else {
    <p>8. Welche Arten von Strahlrohren gibt es in deiner Feuerwehr (3, Mit Beistrichen getrennt)?</p>
  }
  <input type="text" [(ngModel)]="textAnt2">
  @if(color && !style2[1]){
    <a> Richtig wäre: Hohlstrahlrohr, Mehrzweckstrahlrohr, Pistolenstrahlrohr</a>
  }
</div>

<button (click)="fertig()">Abgeben</button>

<br>
<br>

<a>Ergebnis: {{ endErg() }}/8 -> ({{ 8 - endErg() }} Fehler) </a>
<br>
@if (endErg() < 6 && endErg() != 0) {
  <a>(Durchgefallen😭)</a>
} @else if (endErg() >= 6) {
  <a>(Bestanden👍)</a>
}
<br>
<br>

<button (click)="reset()">Neu Beginnen</button>

<br>
