<header>
  <h1>1.Erprobungsspiel: </h1>
</header>

@for (frage of fragen(); track i; let i = $index) {
  <div class="frage">
    @if (color) {
      <p [ngClass]='{"richtig":style[i], "falsch":!style[i]}'>{{ i + 1 }}. {{ frage }}</p>
    } @else {
      <p>{{i + 1 }}. {{ frage }}</p>
    }
    <ul>
      @for (awort of antworten()[i]; track j; let j = $index) {
        <li><input type="radio" [name]="'frage' + i" [value]="buchstaben[j]" [(ngModel)]="antwort[i]" [ngModelOptions]="{standalone: true}"> {{awort}}</li>
      }

      @if(color && !style[$index]){
        <a> Richtig ist: {{richtig()[$index]}}</a>
      }
    </ul>
  </div>
}

<div class="frage">
  @if(color){
    <p [ngClass]='{"richtig":style2[0], "falsch":!style2[0]}'>9. Wie heißt dein Jugendbetreuer?</p>
  } @else {
    <p>9. Wie heißt dein Jugendbetreuer? (Nur Vorname)</p>
  }
  <input type="text" [(ngModel)]="textAnt">
  @if(color && !style2[0]){
    <a> Richtig ist: Hannes</a>
  }
</div>
<div class="frage">
  @if(color){
    <p [ngClass]='{"richtig":style2[1], "falsch":!style2[1]}'>10. Wie heißt dein Jugendbetreuer?</p>
  } @else {
    <p>10. Wie heißt der gehilfe deines Jugendbetreuers? (Nur 1, Nur Vorname)</p>
  }
  <input type="text" [(ngModel)]="textAnt2">
  @if(color && !style2[1]){
    <a> Richtig wäre einer davon: Tobias, Katharina, Anika, Nico</a>
  }
</div>

<button (click)="fertig()">Abgeben</button>

<br>
<br>

<a>Ergebnis: {{ endErg() }}/10 -> ({{ 10 - endErg() }} Fehler) </a>
<br>
@if (endErg() < 6 && endErg() != 0) {
  <a>(Durchgefallen😭)</a>
} @else if (endErg() >= 6) {
  <a>(Bestanden👍)</a>
}
<br>
<br>

<button (click)="reset()">Neu Beginnen</button>

<br>
